{% block content %}

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'index' %}">Esprit Innovation Hub</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'liste' %}">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Add Proposal</a>
              </li>
            </ul>
               {% if user.is_authenticated %}
                   Welcome {{ user.username }} !
                   <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
                       {% csrf_token %}
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
                   </form>

               {% else %}
               <form class="form-inline my-2 my-lg-0" action="{% url 'authentificate' %}" method="post">
                {% csrf_token %}
                   <input class="form-control mr-sm-2" type="text" placeholder="username" aria-label="Username" name="username">
                   <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="Password" name="password">
                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
              {% endif %}
          </div>
        </nav>
    </div>

{% endblock %}