{% extends "base.html" %}

{% block header %}
         {% include "header.html" %}
{% endblock header %}
{% block content %}

<div class="card">
  <div class="card-header">
    About the Platform
  </div>
  <div class="card-body">
    <h4 class="card-title">About Esprit Innovation Hub</h4>
    <p class="card-text">With A Community of Students working with their own projects...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
{% endblock %}
</div>
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
