 {% extends "base.html" %}

  {% block header %}
     <ul class="breadcrumb">
         <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
         <li><a href="{% url 'liste' %}">Projects</a> <span class="divider">/</span></li>
         <li class="active">Project details</li>
    </ul>
 {% endblock %}
{% block content %}
    <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Project Name</td>
                    <td>Project Leader</td>
                    <td>Description</td>
                    <td>Needs</td>
                    <td>Time invested By Creator</td>
                    <td>Members</td>
                    <td>Time invested By Members</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ project.nom_du_projet }}</td>
                    <td>{{ project.createur }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.besoins}}</td>
                    <td>{{ project.temps_alloue_par_le_createur}}</td>
                    <td>
                        <ul>
                            {% for member in project.get_related_members %}
                                <li class="label label-success">{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ project.total_allocated_by_members }}</td>
                    <td>
                         {% if user == project.createur.user  %}
                             <a href="{% url 'edit' project.id %}">
                                <button type="button" class="btn btn-info">Edit</button>
                             </a>
                         {% elif is_coach %}
                             {% if not project.est_valide%}
                                  <a href="{% url 'p_validate' project.id %}">
                                <button type="button" class="btn btn-info">Validate</button>
                              </a>
                             {% endif %}
                         {% else %}
                              {% if not user.is_superuser %}
                                 <a href="{% url 'p_join' project.id %}">
                                    <button type="button" class="btn btn-info">Join the Team</button>
                                 </a>
                             {% endif %}

                        {% endif %}
                    </td>

                </tr>
        </tbody>
    </table>

{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
